# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

build/Desktop_Qt_6_7_0_MinGW_64_bit-Debug/

build/Desktop_Qt_6_7_0_MSVC2019_64bit-Debug/Testing/Temporary/

build/Desktop_Qt_6_7_0_MSVC2019_64bit-Debug/.cmake/api/v1/reply.prev/

build/Desktop_Qt_6_7_0_MSVC2019_64bit-Debug/.cmake/api/v1/reply/

build/Desktop_Qt_6_7_0_MSVC2019_64bit-Debug/

build/Desktop_Qt_6_7_0_MSVC2019_64bit-Release/.cmake/api/v1/query/

build/Desktop_Qt_6_7_0_MSVC2019_64bit-Release/.cmake/api/v1/reply/

build/Desktop_Qt_6_7_0_MSVC2019_64bit-Release/

build/Desktop_Qt_6_7_0_MinGW_64_bit-Release/.cmake/api/v1/reply/

build/Desktop_Qt_6_7_0_MinGW_64_bit-Release/.qt/

build/Desktop_Qt_6_7_0_MinGW_64_bit-Release/.qtc/package-manager/

build/Desktop_Qt_6_7_0_MinGW_64_bit-Release/

build/Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/

build/Desktop_Qt_6_7_0_llvm_mingw_64_bit-Debug/.qtc_clangd/.cache/clangd/index/

build/Desktop_Qt_6_7_0_llvm_mingw_64_bit-Debug/

build/Qt_for_UWP_64bit_MSVC_2019-Debug/CMakeFiles/3.27.7/

*.check_cache

*.yaml

build/Qt_for_UWP_64bit_MSVC_2019-Debug/

build/Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.cmake/api/v1/query/

build/Desktop_Qt_5_15_2_MinGW_64_bit-Debug/

build/Desktop_Qt_6_7_0-Debug/.cmake/api/v1/reply.prev/

build/Desktop_Qt_6_7_0-Debug/.cmake/api/v1/reply/

build/Desktop_Qt_6_7_0-Debug/.rcc/qmlcache/

build/Desktop_Qt_6_7_0-Debug/CMakeFiles/appCodeSnippetApp_autogen.dir/

build/Desktop_Qt_6_7_0-Debug/CodeSnippetApp/

build/Desktop_Qt_6_7_0-Debug/.rcc/qmllint/

build/Desktop_Qt_6_7_0-Debug/Testing/Temporary/

build/Desktop_Qt_6_7_0-Debug/

build/Desktop_Qt_6_7_0-Release/CodeSnippetApp/

build/Desktop_Qt_6_7_0-Release/CMakeFiles/

build/Desktop_Qt_6_7_0-Release/meta_types/

build/Desktop_Qt_6_7_0-Release/
